server = true
data_dir = "{{consul_data_dir}}"
log_level = "DEBUG"
ui = true
enable_syslog = true
acl_enforce_version_8 = true
ports {
  https = 8501
}

# Settings needed at runtime
# bind_addr = "0.0.0.0"
# client_addr = "0.0.0.0"
# datacenter = ""
# bootstrap_expect = 99
# node_name = ""
# encrypt = ""
# retry_join = ["127.0.0.1"]
# addresses {
#   https = "127.0.0.1"
# }
