server = false
data_dir = "{{consul_data_dir}}"
client_addr = "127.0.0.1"
log_level = "DEBUG"
enable_syslog = true
acl_enforce_version_8 = true

# Settings needed at runtime
# datacenter = ""
# node_name = ""
# bind_addr = ""
# retry_join = ["","",""]
# encrypt = ""